/*GENERICS*/
body {
    background-color: black;
}

.main-container {
    margin: 50px 0px;
}

.small-container {
    width: 70%;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer {
    height: 600px;
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}